body {
    font-family: Arial, sans-serif;
    background-image: url(1.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f0f9a2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    color: #333;
    animation: fadeIn 2s ease-in;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    animation: pop 1s ease-out;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeInUp 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}